.wrrp-home {
	.featured-survey {
		background: no-repeat center center;
		background-size: cover;
		height:100vh;
		position: relative;
		.container {
			position: relative;
			height: 100%;
		}
		.feautered-box {
			color: white;
			position: absolute;
			transform: translateY(-50%);
    	top: 50%;
			width: calc(50% - 20px);
			&_content {
				background: rgba(112, 112, 112, 0.8);
				float: left;
				padding: 35px 45px 35px 30px;
				position: relative;
				width: 100%;
				h1 {
					font-size: 60px;
					@media (max-width: 1024px) {
						font-size: 36px;
					}
					@media (max-width: 480px) {
						font-size: 30px;
					}
				}
				h3 {
					font-size: 20px
				}
				h4 {
					font-size: 16px;
					font-weight: 200;
					line-height: 18px;
				}
				p {
					font-size: 21px;
					@media (max-width: 1024px) {
						font-size: 18px;
					}
				}
				a {
					font-size: 14px;
					text-decoration: underline;
					img {
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
						width: 16px;
					}
				}
			}
			&_buttons {
				button {
					float: left;
					height: 80px;
					width: 50%;
					@media (max-width: 1024px) {
						height: 50px;
						img {
							width: 30px;
						}
					}
				}
			}
			@media (max-width: 1024px) {
				max-width: 490px;
				position: static;
				transform: none;
				width: 100%;
			}
		}
		.deadline{
			background: rgba(112, 112, 112, 0.3);
			bottom: 0;
			height: 50px;
			left: 0;
			position: absolute;
			width: 100%;
			&::after{
				background: rgba(255, 255, 255, 0.7);
				content: "";
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 50%;
				@media (max-width: 1024px) {
					width: 20px;
				}
			}
			&_info {
				color: white;
				float: left;
				line-height: 50px;
				width: 50%;
				font-size: 13px;
				@media (max-width: 1024px) {
					width: 100%;
				}
			}
			&_closing{
				font-size: 13px;
				font-weight: 400;
				float: left;
				text-align: right;
				padding-right: 15px;
				width: calc(100% - 220px);
				@media (max-width: 1024px) {
					width: 120px;
				}
			}
			&_days{
				background: rgba(255, 255, 255, 0.7);
				color: #464646;
				font-size: 36px;
				float: left;
				padding-left: 20px;
				position: relative;
				width: 220px;
				&::before {
					content: "";
					border-width: 5px;
					border-style: solid;
					border-color: transparent transparent transparent rgba(112, 112, 112, 0.5);
					left: 0;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
				strong {
					font-weight: 600;
				}
				@media (max-width: 1024px) {
					width: calc(100% - 120px);
				}
			}
		}
		@media (max-width: 1024px) {
			height: auto;
			padding: 100px 0 80px;
		}
	}
	.instructions {
		background: #ebebeb;
		padding: 26px;
		position: relative;
		width: 100%;
		.content {
			align-items: center;
			display: flex;
			justify-content: space-between;
			@media (max-width: 740px) {
				display: block;
			}
		}
		&_titles {
			width: 200px;
			h3 {
				font-size: 22px;
				font-weight: 200;
				line-height: 22px;
			}
			h2 {
				font-size: 38px;
				line-height: 38px;
				font-weight: 600;
			}
			@media (max-width: 740px) {
				margin-bottom: 20px;
				padding: 0;
				width: 100%;
			}
		}
		&_description {
			padding: 0 30px 0 20px;
			width: calc(100% - 200px);
			@media (max-width: 740px) {
				padding: 0;
				width: 100%;
			}
		}
		&_close {
			cursor: pointer;
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			@media (max-width: 740px) {
				right: 20px;
				top: 20px;
				transform: none;
			}
		}
	}
	.rulings {
		h2 {
			font-size: 40px;
			font-weight: 300;
			@media (max-width: 1024px) {
				font-size: 36px;
			}
		}
		.voting-boxes {
			margin-left: -40px;
			width: calc(100% + 40px);
			&_box {
				float: left;
				margin-bottom: 40px;
				margin-left: 40px;
				width: calc(50% - 40px);
				@media (max-width: 1024px) {
					margin-bottom: 20px;
					margin-left: 20px;
					width: calc(50% - 20px);
				}
				@media (max-width: 720px) {
					margin-left: 0;
					width: 100%;
				}
			}
			@media (max-width: 1024px) {
				margin-left: -20px;
				width: calc(100% + 20px);
			}
			@media (max-width: 720px) {
				margin-left: 0;
				width: 100%;
			}
		}
	}
	.add-anyone {
		background-image: url("/images/footer/bg-closing.png");
		padding: 15px 30px;
		&_cols{
			align-items: center;
			display: flex;
			@media (max-width: 720px) {
				display: block;
			}
		}
		&_title {
			font-size: 30px;
			line-height: 32px;
			width: calc(100% - 212px);
			@media (max-width: 720px) {
				font-size: 24px;
				line-height: 26px;
				margin-bottom: 20px;
				width: 100%;
			}
		}
		&_button {
			width: 212px;
			button {
				border: solid 2px;
				font-size: 20px;
				font-weight: 400;
				padding: 15px 0;
				width: 100%;
			}
			@media (max-width: 720px) {
				max-width: 212px;
				width: 100%;
			}
		}
	}
}