.wrrp-header {
	color: white;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
	&::before{
		background: rgb(0,0,0);
		background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 50%, rgba(251,251,251,0) 100%);
		content: "";
		height: 100%;
		position: absolute;
		width: 100%;
	}
	.container {
		position: relative;
		z-index: 1;
		@media (max-width: 1024px) {
			position: static;
		}
	}
	.name-company {
		font-size: 32px;
		line-height: 100px;
		font-weight: 400;
		float: left;
		margin: 0;
		position: relative;
		width: 350px;
		z-index: 2;
		@media (max-width: 1024px) {
			font-size: 24px;
			line-height: 70px;
		}
	}
	.nav-main {
		align-items: center;
		display: flex;
		float: left;
		height: 100px;
		justify-content: flex-end;
		width: calc(100% - 350px);
		.item-nav {
			padding:  0 26px;
			&.search {
				padding: 0;
			}
			.button {
				cursor: pointer;
			}
		}
		@media (max-width: 1024px) {
			background: white;
			color: #333333;
			flex-direction: column;
			height: 100%;
			justify-content: flex-start;
			left: -280px;
			padding-top: 90px;
			position: fixed;
			top: 0;
			transition: all 0.3s ease;
			width: 280px;
			z-index: 5;
			.item-nav {
				border-bottom: #333333 solid 1px;
				padding: 20px;
				width: 100%;
				&.search {
					display: none;
				}
			}
		}
	}
	.bt-menu-movil {
		display: none;
		color: #fff;
		font-size: 24px;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		z-index: 105;
		@media (max-width: 1024px) {
			display: block;
		}
	}
	.cover {
		background: rgba(0,0,0, 0.7);
		bottom: 0;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
	}
	&.open {
		@media (max-width: 1024px) {
			.name-company {
				color: #333333;
				z-index: 100;
			}
			.cover {
				display: block;
			}
			.nav-main {
				left: 0;
			}
		}
	}
}